*{margin: 0; padding: 0; background-color: white; }

#menu{width: 235px; float: left; background-color: dimgray; }
#menu ul{ padding: 0px; margin: 0px; background-color: white; list-style: none; }
#menu ul li{ display: inline; }
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    width: 230px;
    text-decoration: none;
    color: white;
    font-weight: normal; 
    background-color: dimgray; 
    padding: 10px;
    border-left: 5px solid orange;
}
#menu a:hover{ background-color: darkred; }


body{font-size: 18px; margin: 5px; padding: 15px; }

hr{border: 0; height: 3px; background-image: linear-gradient(to right, lightgray, black, lightgray); }

#conteudo{margin-left: 300px; }

h2, h3, h6, p{ color: black; }

#rodape{position: absolute; bottom: 15px; right: 16px; }


input{margin: 3px; padding: 3px; height: 35px; background-color: whitesmoke; position: relative; border: none; color: black; }
#tipo{width: 600px; }
#nome{width: 585px; }
#quantidade{width: 100px; }
#preco{width: 155px; }
#cadastrar, #limpar{width: 322.5px; background-color: orange; color: white; }
#cadastrar:hover, #limpar:hover{background-color: darkred; }


select{margin: 3px; padding: 3px; height: 35px; width: 200px; background-color: whitesmoke; position: relative; border: none; color: black; }


table{border: 2px solid black; border-collapse: collapse; }
th{border: 2px solid black; padding: 10px; background-color: orange; color: white; }
td, tr{border: 2px solid black; padding: 10px; }